nipype==1.1.7
ujson==1.35
numpy==1.16.6
pandas==0.25.3
matplotlib==3.0.3
scipy==1.4.1
nibabel==2.5.2
setuptools==40.9.0
scikit_learn==0.20.4
theano==1.0.4
h5py==2.10.0
hdfdict==0.3.1
awscli==1.31.13
s3utils==0.6.1
nipy==0.5.0
statsmodels==0.11.1
numba==0.48.0
jsonpickle==2.2.0

